
<ul class="topBar">
 
  <li class=tabs><app-currency-type></app-currency-type></li>
    <li class=tabs><app-welcome-msg></app-welcome-msg></li>
    <li class=tabs><a  class="router-link" routerLink="signIn" routerLinkActive="active">SignIn</a></li>
</ul>
{{un}}

  <style>
    .topBar{
    width:100%;
    height: 50px;
    background-color: gray;
    
    }
    
    .tabs{
     
      display: inline-block;
      color:white;
      float:right;
      margin-left: 5px;
      margin-right: 5px;
    
    
    
    }
    .router-link{

      text-decoration: none;
    color: white;
    margin-top: 14px;
    display: inline-block;

    }
    </style>