
<app-top-bar></app-top-bar>
<div class="search-cart"><span><app-cart class="componet"></app-cart></span><span><app-search class="componet"></app-search></span></div>
<app-logo></app-logo>
<app-menu></app-menu>
<!-- <app-most-viewed-products></app-most-viewed-products> -->

<style>
.search-cart{
float: right;

width:300px;
margin-bottom: 10px
}
.component{

    display:inline-block;
}

</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class=form-div>

  <div class="form-group">
    <label for="email">Email</label><span class="star">*</span>
    <input type="email" [(ngModel)]="email" class="form-control" (change)="validateEmail()" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label><span class="star">*</span>
    <input type="password" [(ngModel)]="password"  class="form-control" (change)="validatePassword()" id="pwd">
  </div>
  
  <button type="submit" class="btn btn-default" (click)="loginUser()" >Submit</button>

</div>

<h1>{{errorMsg}}</h1>

<h1>{{signInService.userName}}</h1>

<style>
.form-div{
margin-left: 20px;
width:30%;


}
.star{
  color: red;
}
</style>